@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #d2ff52;
  background: -webkit-gradient(left top, right top, color-stop(0%, #d2ff52), color-stop(48%, #66ba17), color-stop(100%, #91e842));
  background: -webkit-gradient(linear, left top, right top, from(#d2ff52), color-stop(48%, #66ba17), to(#91e842));
  background: linear-gradient(to right, #d2ff52 0%, #66ba17 48%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  height: 100px;
  padding: 20px;
  width: 100%;
}

.header nav {
  background-color: rgba(102, 186, 23, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.header nav a.menu-item {
  background-color: white;
  margin: 3px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

.header nav a.menu-item:hover {
  background-color: yellow;
  color: black;
  -webkit-transition: 3s;
  transition: 3s;
}

.header nav a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header nav ul.menu {
  list-style: none;
  background-color: white;
  position: absolute;
  right: 24px;
  top: 77px;
  z-index: 1;
  border: 1px solid black;
  display: none;
}

.header nav ul.menu li {
  width: 297px;
  padding: 10px;
  text-align: center;
  -webkit-transition: 3s;
  transition: 3s;
}

.header nav ul.menu li a {
  border: 0;
  border-radius: 0;
  display: block;
  width: 100%;
}

.header nav ul.menu li:hover {
  background-color: yellow;
  -webkit-transition: 3s;
  transition: 3s;
}

.slider #myId .carousel-inner img {
  height: calc(100vh - 100px);
}

.slider #myId .carousel-inner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.slider #myId .circle {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background: red;
  text-indent: 0;
}

.slider #myId .circle:hover {
  background: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider #myId .circle i {
  width: 60px;
  height: 50px;
  font-size: 50px;
  color: white;
}

.slider #myId .circle i:hover {
  color: red;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider #myId .circle i::before {
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
}

.main {
  background-image: url("../image/grasss.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main .row1 {
  background-color: white;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 2%;
}

.main .row1 .box-article {
  background-color: green;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 100%;
  padding: 0;
  margin: 1%;
  max-width: 48%;
  border-radius: 35px;
}

.main .row1 .box-article .box-image {
  width: 300px;
  margin: 0 auto;
  height: 300px;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 50px;
}

.main .row1 .box-article .box-image img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .row1 .box-article .box-image img:hover {
  -webkit-transition: 3s;
  transition: 3s;
  width: 120%;
  height: 350px;
}

.main .row1 .box-article .box-image .second-image {
  -o-object-position: top;
     object-position: top;
}

.main .row1 .box-article .description {
  padding: 15px;
  min-height: 430px;
  font-family: "Langar", cursive;
  color: yellow;
}

@media (min-width: 1200px) {
  .main .row1 .box-article .description {
    min-height: 330px;
  }
}

@media (min-width: 1400px) {
  .main .row1 .box-article .description {
    min-height: 200px;
  }
}

.footer {
  background: #d2ff52;
  background: -webkit-gradient(left top, right top, color-stop(0%, #d2ff52), color-stop(48%, #66ba17), color-stop(100%, #91e842));
  background: -webkit-gradient(linear, left top, right top, from(#d2ff52), color-stop(48%, #66ba17), to(#91e842));
  background: linear-gradient(to right, #d2ff52 0%, #66ba17 48%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  padding: 20px;
}

.footer .box-footer {
  width: 60%;
  margin: 0 auto;
}

.footer .box-footer a {
  width: 32%;
  text-align: center;
  display: inline-block;
}

.footer .box-footer i {
  font-size: 60px;
  color: white;
  -webkit-transition: 3s;
  transition: 3s;
}

.footer .box-footer i:hover {
  color: red;
  -webkit-transition: 3s;
  transition: 3s;
}

#scroll {
  width: 60px;
  height: 60px;
  position: fixed;
  font-size: 60px;
  color: black;
  right: 30px;
  bottom: 160px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
}

#scroll i {
  display: block;
}

.footer {
  background-color: blueviolet;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */