@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(210, 255, 82, 1)),
    color-stop(48%, rgba(102, 186, 23, 1)),
    color-stop(100%, rgba(145, 232, 66, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  height: 100px;
  padding: 20px;
  width: 100%;
  nav {
    background-color: rgba(102, 186, 23, 0);
    display: flex;
    flex-direction: row;
    height: 100%;
    a.menu-item {
      background-color: white;
      margin: 3px;
      padding: 10px;
      flex-grow: 1;
      transition: 1s;
      text-align: center;
      border-radius: 5px;
      border: 1px solid black;
    }
    a.menu-item:hover {
      background-color: yellow;
      color: black;
      transition: 3s;
    }
    a {
      font-family: "Oswald", sans-serif;
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
    ul.menu {
      list-style: none;
      background-color: white;
      position: absolute;
      right: 24px;
      top: 77px;
      z-index: 1000;
      border: 1px solid black;
      display: none;
      li {
        width: 297px;
        padding: 10px;
        text-align: center;
        transition: 3s;
        a {
          border: 0;
          border-radius: 0;
          display: block;
          width: 100%;
        }
      }
      li:hover {
        background-color: yellow;
        transition: 3s;
      }
    }
  }
}
.slider {
  #myId {
    .carousel-inner {
      img {
        height: calc(100vh - 100px); //calc(100% - 100px);
      }
      .carousel-caption {
        .description2 {
          margin-top: -120px;
          position: relative;
        }
      }
    }
    .circle {
      width: 60px;
      height: 50px;
      border-radius: 50%;
      background: red;
      text-indent: 0;
      &:hover {
        background: white;
        transition: 1s;
      }
      i {
        width: 60px;
        height: 50px;
        font-size: 50px;
        color: white;
        &:hover {
          color: red;
          transition: 1s;
        }
      }
      i::before {
        width: 100%;
        height: 50px;
        display: block;
        text-align: center;
      }
    }
  }
}

.main {
  background-image: url("../image/grasss.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .row1 {
    background-color: white;
    width: 80%; //80% main
    margin: 0 auto 0 auto;
    padding: 2%;
    //height: 600px;
    .box-article {
      background-color: green;
      //width: 49.5%;
      display: inline-grid;
      height: 100%;
      padding: 0;
      margin: 1%;
      max-width: 48%;
      border-radius: 35px;

      .box-image {
        width: 300px;
        margin: 0 auto;
        height: 300px;
        margin-top: 15px;
        overflow: hidden;
        border-radius: 50px;
        img {
          display: block;
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        img:hover {
          transition: 3s;
          width: 120%;
          height: 350px;
        }
        .second-image {
          object-position: top;
        }
      }
      .description {
        padding: 15px;
        min-height: 430px;
        @media (min-width: 1200px) {
          min-height: 330px;
        }
        @media (min-width: 1400px) {
          min-height: 200px;
        }
        font-family: "Langar", cursive;
        color: yellow;
      }
    }
  }
}
.zoom, .zoom2, .zoom3, .zoom4, .zoom5 {
  .close {
    i {
      color: red;
    }
    margin-right:  -25px;
  }
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  img {
    width: 100%;
    height: 100%;
  }
  display: none;
  padding: 50px 300px 50px 300px;
  background-color: rgba(0,0,0,0.7);
  
}
.main.aboutus {
  height: calc(100vh - 100px);
}
.footer {
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(210, 255, 82, 1)),
    color-stop(48%, rgba(102, 186, 23, 1)),
    color-stop(100%, rgba(145, 232, 66, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(210, 255, 82, 1) 0%,
    rgba(102, 186, 23, 1) 48%,
    rgba(145, 232, 66, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  padding: 20px;
  .box-footer {
    width: 60%;
    margin: 0 auto;
    a {
      width: 32%;
      text-align: center;
      display: inline-block;
    }
    i {
      font-size: 60px;
      color: white;
      transition: 3s;
    }
    i:hover {
      color: rgb(255, 0, 0);
      transition: 3s;
    }
  }
}

#scroll {
  width: 60px;
  height: 60px;
  position: fixed;
  font-size: 60px;
  color: black;
  right: 30px;
  bottom: 160px;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  i {
    display: block;
  }
}

.footer {
  background-color: blueviolet;
  height: 100px;
}

//aboutUs
.box-top {
  div {
    img {
      width: 100%;
      max-width: 100%;
      border: 2px solid black;
    }
  }
  div.box1 {
    min-height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      border: 2px solid black;
    }
  }
}
.gallery {
  height: 100%;
}

.row {
  margin: 0;
}
.col-6,
.col-12,
.col-8,
.col-4 {
  padding: 0;
}
.box-bottom {
  height: 100%;
  img {
    width: 100%;
    max-width: 100%;
    border: 2px solid black;
  }
}
.col-8 {
  padding: 0;
}
.col-a {
  padding: 0;
}
.colum-left {
  height: 100%;
  .box-row {
    height: 50%;
    .box-col {
      height: 100%;
      .box-row-col {
        height: 50%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
      border: 2px solid black;
    }
  }
}
.colum-right {
  min-height: 100%;
  //max-width: 100%;
  padding: 0;
  height: 100%;

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    border: 2px solid black;
  }
}
